<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
   <%= f.label :nickname, "ニックネーム" %><br>
   <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :age, "年齢層" %><br>
    <%= f.select :age,[["10代", "10代"], ["20代", "20代"], ["30代", "30代"],["40代", "40代"],["50代", "50代"],["60代", "60代"],["70代", "70代"],["80代以上", "80代以上"]], include_blank: "選択して下さい",class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :gender, "性別" %><br>
    <%= f.label :man, "男性" %>
    <%= f.radio_button :gender, :man %>
    <%= f.label :woman, "女性"%>
    <%= f.radio_button :gender, :woman %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
