<div class="container">
  <h1 class="text-center mt-5">
    <span class="border-bottom">ユーザー 一覧</span>
  </h1>
  <div class="row">
     <table class="table mt-5">
       <tr>
          <th>プロフィール画像</th>
          <th>ユーザー名</th>
          <th>年齢層</th>
          <th>フォロー数</th>
          <th>フォロワー数</th>
       </tr>
       <% @users.each do |user| %>
         <% if user.follow_request?(current_user, user) %>
         <% end %>
          <tr>
            <td><%= image_tag user.get_profile_image(50,50), class: "mt-3 rounded-circle" %></td>
            <td><%= link_to user.nickname, user_path(user.id) %></td>
            <td><%= user.age %></td>
            <td><%= link_to user.followings.count, user_relationships_path(user.id) %></td>
            <td><%= link_to user.followers.count, user_relationships_path(user.id) %></td>
          </tr>
       <% end %>
     </table>
  </div>
     <h1 class="text-center mt-5">
       <span class="border-bottom">お互いにフォローしているユーザー 一覧</span>
     </h1>
     <div class="row">
       <table class="table mt-5">
         <tr>
           <th>プロフィール画像</th>
           <th>ユーザー名</th>
           <th>年齢層</th>
         </tr>
         <% @mates.each do |user| %>
         <%# 友達（互いにフォローしている）を一覧表示 %>
         <tr>
           <td><%= image_tag user.get_profile_image(50,50), class: "mt-3 rounded-circle" %></td>
           <td><%= link_to user.nickname, user_path(user.id) %></td>
           <td><%= user.age %></td>
         </tr>
         <% end %>
       </table>
     </div>
</div>