<div class="container">
  <% if @user == current_user %>
    <h1 class="border-bottom mt-3 text-center">マイページ</h1>
  <% else %>
    <h1 class="border-bottom mt-3 text-center">ユーザー詳細</h1>
  <% end %>
     <div class="row">
        <table class="table mt-5">
          <tr>
            <td><%= image_tag @user.get_profile_image(100,100), class: "mt-3 rounded-circle" %></td>
            <td>
              <% if current_user.matchers?(@user) %>
                <p><%= @user.nickname %> is your mate</p>
              <% end %>
              <% if current_user.id == @user.id %>
                <% else %>
                  <% unless current_user.following?(@user) %>
                      <%= link_to 'フォローする', user_relationships_path(@user.id), method: :post, class: "btn btn-primary" %>
                  <% else %>
                      <%= link_to 'フォロー解除します', user_relationship_path(@user.id), method: :delete, class: "btn btn-primary" %>
                  <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>ユーザーネーム</td>
            <td><%= @user.nickname %></td>
          </tr>
          <tr>
            <td>性別</td>
            <td><%= @user.gender_name %></td>
          </tr>
          <tr>
            <td>年齢層</td>
            <td><%= @user.age %></td>
          </tr>
        </table>
    </div>
    <div class="text-center mt-5">
      <%= link_to "いいねした投稿一覧", favorites_user_path, class: "btn btn-danger" %>
    </div>
      <% if @user == current_user && @user.nickname != "guestuser" %>
        <div class="text-center mt-4">
         <%= link_to "プロフィールを編集する", edit_user_path, class: "btn btn-primary" %>
        </div>
      <% end %>
    <div class="card-list-container py-5">
      <h2 class="text-center mt-5"><%= @user.nickname %>さんの投稿一覧</h2>
       <%= render "posts/index", posts: @post %>
    </div>
</div>