<div class="container">
    <h1 class="text-center mt-5">
      <span class="border-bottom">管理者ログイン</span>
    </h2>
      <%= form_with(model: @admin, url: admin_session_path, local: true, class: 'needs-validation', html: {novalidate: true}) do |f| %>
        <div class="col g-3 needs-validation novalidate">
          <div class="form_group row mt-5 mb-4">
            <%= f.label :"メールアドレス", class: "col-md-3" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",autofocus: true, class: 'form-control col-md-6 ', required: true %>
          </div>

          <div class="form_group row">
            <%= f.label :"パスワード", class: "col-3" %>
            <%= f.password_field :password, autocomplete: "current-password",autofocus: true, class: 'form-control col-md-6', required: true %>
          </div>

          <div class="actions text-center mt-5">
            <%= f.submit "ログイン", class: "btn btn-primary btn-lg" %>
          </div>
        </div>
      <% end %>
  <%= render "admins/shared/links" %>
</div>