<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<% @posts.each do |posts| %>
<div>
  <%= link_to post_path(posts.id) do %>
    <%= image_tag posts.get_image(200,200) %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag posts.user.get_profile_image(100,100) %></p>
  <p>ニックネーム：<%= posts.user.nickname %></p>
  <p>場所名：<%= posts.place %></p>
  <p>住所 : <%= link_to posts.address, post_path(posts.id) %></p>
    <div>
    <p>評価 :<%= posts.evaluation %>点</p>
    <div id="star-rate<%= posts.id%>"></div>
    <script>
      $('#star-rate<%= posts.id%>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        starHalf    : '<%= asset_path('star-half.png') %>',
        half      : true,
        readOnly: true,
        score: <%= posts.evaluation %>,
      });
    </script>
  </div>
  <p>コメント：<%= posts.comment %></p>
  <p><%= link_to "#{posts.reply.count} コメント", post_path(posts.id) %></p>
</div>

<% end %>

