<div class="container">
    <h1 class="text-center mt-5">
      <span class="border-bottom">投稿詳細</span>
    </h1>
    <table class="table mt-5">
      <tr>
        <th>スポット写真</th>
        <th><%= image_tag @post.get_image(400,400) %></th>
      </tr>
      <tr>
        <td>投稿者</td>
        <td><%= image_tag @post.user.get_profile_image(50,50), class: "mt-3 rounded-circle" %>　　　　　<%= link_to @post.user.nickname,user_path(@post.user) %></td>
      </tr>
      <tr>
        <td>場所名</td>
        <td><%= @post.place %></td>
      </tr>
      <tr>
        <td>レビュー</td>
        <td><%= @post.comment %></td>
      </tr>
      <tr>
        <td>投稿日</td>
        <td><%= @post.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <td>コメント数</td>
        <td><%= @post.reply.count %></td>
      </tr>
    </table>
      <%= render "favorite", posts: @post %>

    <div id='map'></div>

    <style>
    #map {
      height: 600px;
      width: 100%;
    }
    </style>

    <!-- js部分 -->
    <script>
    //初期マップの設定
    let map
    let marker
    function initMap(){
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
        center:  {lat: gon.post.latitude, lng: gon.post.longitude},
        zoom: 15,
      });

       marker = new google.maps.Marker({
        position:  {lat: gon.post.latitude, lng: gon.post.longitude},
        map: map
      });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>

    <h3 class="text-center mt-5">コメントする</h3>
    <div class="form-group mt-3">
      <%= form_with model: [@post, @reply],url: post_replys_path(@post.id) do |f| %>
        <%= f.text_area :reply, rows: '3', placeholder: "コメントをここに", class: "form-control" %>
        <div class="text-center mt-3">
         <%= f.submit "送信", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <h3 class="text-center mt-5">コメント一覧</h3>
    <table class="table">
      <tr>
        <th></th>
        <th>ユーザー名</th>
        <th>コメント</th>
        <th>コメント日時</th>
        <th></th>
      </tr>
        <% @post.reply.each do |reply| %>
      <tr>
        <td><%= image_tag reply.user.get_profile_image(50,50) %></td>
        <td><%= reply.user.nickname %></td>
        <td><%= reply.reply %></td>
        <td><%= reply.created_at.strftime('%Y/%m/%d') %></td>
        <td>
          <% if reply.user == current_user %>
           <%= link_to "削除", post_reply_path(reply.post, reply), method: :delete, class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <div class="text-center mt-5">
      <% if @post.user == current_user %>
        <%= link_to "投稿を編集", edit_post_path(@post), class: "btn btn-success" %><br>
        <div class="mt-3">
         <%= link_to "投稿を削除", post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
</div>