<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<div>
  <%= render "show", posts: @post %>

  <% if @post.user == current_user %>
    <%= link_to "投稿を削除", post_path(@post), method: :delete %>
  <% end %>
  <% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to post_favorites_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorites_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>

<div>
  <p>コメント件数：<%= @post.reply.count %></p>
  <% @post.reply.each do |reply| %>
    <p><%= image_tag reply.user.get_profile_image(100,100) %></p>
    <%= reply.user.nickname %>
    <%= reply.created_at.strftime('%Y/%m/%d') %><%= reply.reply %>
    <% if reply.user == current_user %>
      <%= link_to "削除", post_reply_path(reply.post, reply), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @reply],url: post_replys_path(@post.id) do |f| %>
    <%= f.text_area :reply, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 100%;
}
</style>

<!-- js部分 -->
<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: gon.post.latitude, lng: gon.post.longitude},
    zoom: 15,
  });

   marker = new google.maps.Marker({
    position:  {lat: gon.post.latitude, lng: gon.post.longitude},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>