<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<div>
  <%= render "show", posts: @post %>

  <% if @post.user == current_user %>
    <%= link_to "投稿を削除", post_path(@post), method: :delete %>
  <% end %>
  <% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to post_favorites_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorites_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>

<div>
  <p>コメント件数：<%= @post.reply.count %></p>
  <% @post.reply.each do |reply| %>
    <p><%= image_tag reply.user.get_profile_image(100,100) %></p>
    <%= reply.user.nickname %>
    <%= reply.created_at.strftime('%Y/%m/%d') %><%= reply.reply %>
    <% if reply.user == current_user %>
      <%= link_to "削除", post_reply_path(reply.post, reply), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @reply],url: post_replys_path(@post.id) do |f| %>
    <%= f.text_area :reply, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>