<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<div>
  <%= image_tag @post.get_image %>
  <p>場所名：<%= @post.place %></p>
  <p>コメント：<%= @post.comment %></p>
  <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %>
  <p>ニックネーム：<%= @post.user.nickname %></p>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
</div>