<!DOCTYPE html>
<html>
  <head>
    <title>Trip & Go out</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <%= render "layouts/header" %>
     <main>
       <p id="notice"><%= notice %></p>
           <% if user_signed_in? %>
              <h4 class="mt-5 ml-5">ユーザーや投稿を検索できます</h4>
              <div class="search_form mx-5 mt-2">
                <%= form_with url: search_path, local: true, method: :get do |f| %>
                  <%= f.text_field :word, :placeholder =>"検索したいワードを入力" %>
                  <%= f.select :range, options_for_select([['ユーザー', 'User'], ['投稿', 'Post']]) %>
                  <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
                  <%= f.submit "検索", class: "btn btn-primary" %>
                <% end %>
              </div>
           <% end %>
        </main>
      <%= yield %>
    </body>
   <%= render "layouts/footer" %>
</html>
